@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  font-size: 16px;
  color: $color-white;
  background-color: $color-black2;
  background-image: url(../images/main-bg/noise-body.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @include mb(tab){
    background-image: url(../images/main-bg/bg_tab.svg);
    background-position: top 364px center;
  }

  @include mb(desk){
    background-image: url(../images/main-bg/bg_desk.svg);
    background-position: bottom;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
