button {
  cursor: pointer;
  border: none;
}
.button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  @include mb(mob-only) {
    top: 24px;
    right: 24px;
  }
  @include mb(tab) {
    top: 32px;
    right: 32px;
  }
  @include mb(desk) {
    top: 9px;
    right: 32px;
  }

  width: 25px;
  height: 25px;
  text-decoration: none;
  cursor: pointer;
  background-color: inherit;
  padding: 0;
  -webkit-transition: -webkit-transform 0.25s, opacity 0.25s;
  -moz-transition: -moz-transform 0.25s, opacity 0.25s;
  transition: transform 0.5s;
  // transition-property: box-shadow;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &__icon {
    width: 25px;
    height: 25px;
    fill: $color-han-purple;
    display: block;
  }

  &:hover,
  &:focus {
    fill: $color-han-purple;
    border-radius: 100%;
    border: 1px solid rgba(220, 86, 197, 0.3);
    box-shadow: 0 0 8px rgba(220, 86, 197, 0.3);

    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
}

.modal {
  padding-top: 480px;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow-y: auto;

  background-color: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(1.5px);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // Main container

  &__container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto 0;
    background-color: $color-lavender-blush;
    outline: 1px solid red;
    @include mb(mob-only) {
      padding-left: 16px;
      padding-right: 21px;
      width: 280px;
      border-radius: 150px 0px;
      min-height: 952px;
    }
    @include mb(tab) {
      padding-left: 87px;
      padding-right: 49px;
      width: 704px;
      border-radius: 300px 0px;
      min-height: 781px;
    }
    @include mb(desk) {
      padding-left: 66px;
      padding-right: 82px;
      width: 1034px;
      min-height: 918px;
      overflow-y: auto;
    }
  }

  //header of modal
  &__header {
    display: flex;
    justify-content: center;

    @include mb(mob-only) {
      padding-top: 80px;
      padding-bottom: 20px;
    }
    @include mb(tab) {
      padding-top: 32px;
      padding-bottom: 40px;
    }
    @include mb(desk) {
      padding-top: 43px;
      padding-bottom: 40px;
    }
  }
  &__img {
    display: flex;
    border-radius: 100px;
    @include mb(mob-only) {
      width: 102px;
      height: 102px;
      object-fit: cover;
    }
    @include mb(tab) {
      width: 70px;
      height: 70px;
      object-fit: cover;
    }
    @include mb(desk) {
      width: 132px;
      height: 132px;
      object-fit: cover;
    }
  }

  //in modal part, where BIG IMG and text nearby
  &__mainPart2 {
    @include mb(mob-only) {
      max-width: 243px;
      justify-content: center;
    }
    @include mb(tab) {
      max-width: 249px;
      height: 217px;
      max-width: 287px;
    }
    @include mb(desk) {
      max-width: 427px;
    }
  }

  &__mainPart {
    // display: flex;

    @include mb(tab) {
      padding-bottom: 16px;
      gap: 32px;
    }
  }
  &__imgBig {
    margin: 0 32px 0 0;
  }
  &__imgBig {
    object-fit: cover;
    float: left;
    @include mb(mob-only) {
      display: none;
    }
    @include mb(tab) {
      max-width: 249px;
      height: 217px;
    }
    @include mb(desk) {
      max-width: 427px;
      height: 326px;
    }
  }

  // title and text in modal
  &__textRight1 {
    @include mb(mob-only) {
      display: flex;
      flex-direction: column;
    }
  }
  &__title {
    color: $color-pink;
    font-weight: 600;

    @include mb(mob-only) {
      display: flex;
      justify-content: center;
      font-size: 20px;
      line-height: 1.2;
      padding-bottom: 5px;
    }
    @include mb(tab) {
      font-size: 20px;
      line-height: 1.2;
      padding-bottom: 5px;
    }
    @include mb(desk) {
      padding-bottom: 7px;
      font-size: 24px;
      line-height: 1.208;
    }
  }
  &__text {
    font-weight: 400;
    color: $color-black2;
    @include mb(mob-only) {
      font-size: 16px;
      line-height: 1.25;
      display: flex;
      justify-content: center;
    }
    @include mb(tab) {
      padding-bottom: 16px;
    }
    @include mb(desk) {
      font-size: 18px;
      line-height: 1.2;
      padding-bottom: 16px;
    }
  }
  &__textMini {
    font-weight: 400;
    color: $color-black2;
    @include mb(mob-only) {
      font-size: 16px;
      line-height: 1.25;
      display: flex;
      justify-content: center;
    }
    @include mb(tab) {
      padding-bottom: 3px;
    }
    @include mb(desk) {
      font-size: 18px;
      line-height: 1.2;
      padding-bottom: 5px;
    }
  }
  &__whoSection {
    // display: flex;
    // flex-direction: column;
  }
  //part of modal where you can find prices

  &__priceSection {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  &__priceAndBtn {
    display: flex;
    gap: 60px;
    @include mb(mob-only) {
      flex-direction: column;
    }
  }

  //buttons in modal

  &__buyTicketsBtn {
    padding-top: 20px;
    @include mb(mob-only) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__btnBlue {
    width: 145px;
    height: 40px;
    background: $color-han-purple;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: $color-white;
  }
  &__lastBtn {
    padding-top: 60px;
    padding-bottom: 65px;
    display: flex;
    justify-content: center;
    outline: none;
    @include mb(mob-only) {
      margin-bottom: 100px;
    }
  }

  &__btnAuthor {
    border: 1px solid $color-han-purple;
    background: $color-lavender-blush;

    color: $color-han-purple;

    border-radius: 5px;
    width: 255px;
    height: 40px;
    @include mb(mob-only) {
      width: 230px;
      height: 40px;
      font-size: 16px;
      line-height: 1.25;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
