.modal__container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 1034px;
  padding-left: 74px;
  padding-right: 74px;
  outline: 1px solid red;
  background: #fff2fd;
  border-radius: 300px 0px;
}
.modal__header {
  display: flex;
  justify-content: center;
  padding-top: 54px;
  padding-bottom: 40px;
}
.modal__img {
  width: 132px;
  height: 132px;
  object-fit: cover;
  border-radius: 100px;
  display: flex;
}
.modal__mainPart {
  display: flex;
  gap: 32px;
  justify-content: center;
  padding-bottom: 16px;
}
.modal__right-text {
  max-width: 427;
}
.modal__imgBig {
  width: 427px;
  height: 326px;
  object-fit: cover;
}

.modal__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.208;
  color: #dc56c5;
}
.modal__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #0e0e0e;
}
