// Colors
// https://www.htmlcsscolor.com/hex/000000
$color-default-black: #000000;
$color-default-white: #ffffff;
$color-black1: #212121;

$color-white: $color-default-white;
$color-black2: #0e0e0e;
$color-pink: #dc56c5;
$color-suva-grey: #939393;
$color-han-purple: #4c00fe;
$color-lavender-blush: #fff2fd;

// animation

$transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;

// Fonts

$font-primary: 'Montserrat', Arial, sans-serif;

// Retina

$retina-dpi: 192dpi;
$retina-dppx: 2dppx;

// Breakpoints

$vp-mob: 320px;
$vp-big-mob: 480px;
$vp-tab: 768px;
$vp-desk: 1280px;

// Container padding

$padding-container-desk: 16px;
$padding-container-tablet: 32px;
$padding-container-mob: 20px;
