<header class="header">
  <div class="header__container container header__overlay">
    <h1 class="header__title">Find best events around the world</h1>
    <form class="search__form">
      <label>
        <input
          class="search__input"
          type="search"
          placeholder="Start searching"
        />
      </label>
      <label>
        <select class="country__code" placeholder="Choose country">
          <option value="US">United States Of America</option>
          <option value="AD">Andorra</option>
          <option value="AI">Anguilla</option>
          <option value="AR">Argentina</option>
          <option value="AU">Australia</option>
          <option value="AT">Austria</option>
          <option value="AZ">Azerbaijan</option>
          <!-- ============всі інші добавлю пізніше==================== -->
          <option value="ХХ">===всі інші добавлю пізніше===</option>
          <!-- ============всі інші добавлю пізніше==================== -->
          <option value="UA">Ukraine</option>
          <option value="AE">United Arab Emirates</option>
          <option value="UY">Uruguay</option>
          <option value="VE">Venezuela</option>
        </select>
      </label>
    </form>
  </div>
</header>
