<header class="header">
  <div class="header__logo-bg-wrapper">
    <div class="header__logo-bg"></div>
  </div>
  <a href="" class="logo header__logo">
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="./images/logo/logo-1280.svg"
      />
      <source media="(min-width: 768px)" srcset="./images/logo/logo-768.svg" />
      <img
        class="logo__img"
        src="./images/logo/logo-320.svg"
        alt="лого сайта"
      />
    </picture>
  </a>
  <div class="container">
    <h1 class="header__title title">
      <span class="title__part title__part--first">Find best events</span>
      <span class="title__part title__part--second">around the world</span>
    </h1>
    <form class="form">
      <div class="form__label">
        <label>
          <input
            class="form__input"
            type="search"
            placeholder="Start searching"
            name="searchValue"
          />
        </label>
        <button class="button-search" type="submit">
          <svg class="search-icon">
            <use
              href="./images/symbol-defs.svg#search"
              width="12px"
              height="12px"
            ></use>
          </svg>
        </button>
      </div>
      <div id="select"></div>
    </form>
  </div>
  <div class="header__gradient"></div>
</header>
