<header class="header header__overlay">
  <div class="header__logo-bg-wrapper">
    <div class="header__logo-bg"></div>
  </div>
  <a href="" class="logo header__logo">
    <picture>
      <source media="(min-width: 1280px)" srcset="./images/logo/logo-1280.svg" />
      <source media="(min-width: 768px)" srcset="./images/logo/logo-768.svg" />
      <img
        class="logo__img"
        src="./images/logo/logo-320.svg"
        alt="лого сайта"
      />
    </picture>
  </a>
  <div class="container">
    <h1 class="header__title">Find best events around the world</h1>
    <form class="search__form">
      <label class="form__label">
        <input
          class="form__input"
          type="search"
          placeholder="Start searching"
          name="searchValue"
        />
        <button class="button__search" type="submit">
          <svg class="search__icon">
            <use
              href="./images/search_icon.svg#search"
              width="12px"
              height="12px"
            ></use>
          </svg>
        </button>
      </label>
      <!-- <label class="search-select form__label">
        <select
          class="form__input country__code search-select__select"
          name="countryCode"
        >
          <option value="" selected disabled hidden>Choose country</option>
        </select>
      </label> -->
      <div id="select"></div>
    </form>
  </div>
  <div class="header__gradient"></div>
</header>
<div class="card__add"></div>
