<main>
  <section class="container cards">
    <h2 class="visually-hidden">Section cards</h2>
    <div class="container-card">
      <ul class="card-list">
        <li class="card__item">
          <a href="">
            <div class="card__thumb">
              <img src="./images/Rectangle 6.png" alt="card" />
            </div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href="">
            <div class="card__thumb">
              <img src="./images/Rectangle 6.png" alt="card" />
            </div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href="">
            <div class="card__thumb">
              <img src="./images/Rectangle 6.png" alt="card" />
            </div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href="">
            <div class="card__thumb">
              <img src="./images/Rectangle 6.png" alt="card" />
            </div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href="">
            <div class="card__thumb">
              <img src="./images/Rectangle 6.png" alt="card" />
            </div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href="">
            <div class="card__thumb">
              <img src="./images/Rectangle 6.png" alt="card" />
            </div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href="">
            <div class="card__thumb">
              <img src="./images/Rectangle 6.png" alt="card" />
            </div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href="">
            <div class="card__thumb">
              <img src="./images/Rectangle 6.png" alt="card" />
            </div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href="">
            <div class="card__thumb">
              <img src="./images/Rectangle 6.png" alt="card" />
            </div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href="">
            <div class="card__thumb">
              <img src="./images/Rectangle 6.png" alt="card" />
            </div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href="">
            <div class="card__thumb">
              <img src="./images/Rectangle 6.png" alt="card" />
            </div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href="">
            <div class="card__thumb">
              <img src="./images/Rectangle 6.png" alt="card" />
            </div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href="">
            <div class="card__thumb">
              <img src="./images/Rectangle 6.png" alt="card" />
            </div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href="">
            <div class="card__thumb">
              <img src="./images/Rectangle 6.png" alt="card" />
            </div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href="">
            <div class="card__thumb">
              <img src="./images/Rectangle 6.png" alt="card" />
            </div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href="">
            <div class="card__thumb">
              <img src="./images/Rectangle 6.png" alt="card" />
            </div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <div class="pagination-box">
    <ul class="pagination-box__list"></ul>
  </div>
</main>
