<main>
  <section class="container cards">
    <h2 class="visually-hidden">Section cards</h2>
    <div class="container-card">
      <ul class="card-list">
        <li class="card__item">
          <a href=""><img src="./images/Rectangle 6.png" alt="card"></a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href=""><img src="./images/Rectangle 6.png" alt="card"></a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href=""><img src="./images/Rectangle 6.png" alt="card"></a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href=""><img src="./images/Rectangle 6.png" alt="card"></a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href=""><img src="./images/Rectangle 6.png" alt="card"></a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href=""><img src="./images/Rectangle 6.png" alt="card"></a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href=""><img src="./images/Rectangle 6.png" alt="card"></a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href=""><img src="./images/Rectangle 6.png" alt="card"></a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href=""><img src="./images/Rectangle 6.png" alt="card"></a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href=""><img src="./images/Rectangle 6.png" alt="card"></a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href=""><img src="./images/Rectangle 6.png" alt="card"></a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href=""><img src="./images/Rectangle 6.png" alt="card"></a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href=""><img src="./images/Rectangle 6.png" alt="card"></a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href=""><img src="./images/Rectangle 6.png" alt="card"></a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href=""><img src="./images/Rectangle 6.png" alt="card"></a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item">
          <a href=""><img src="./images/Rectangle 6.png" alt="card"></a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">Palace of Ukraine</a>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>