<main>
  <section class="gallery">
    <h2 class="visually-hidden">Section cards</h2>
    <div class="container cards">
      <div class="cards__bg">
        <img class="cards__bg-1" src="./images/main-bg/Ellipse 4.svg" alt="">
        <img class="cards__bg-2" src="./images/main-bg/Ellipse 6.svg" alt="">
        <img class="cards__bg-3" src="./images/main-bg/circle 1.svg" alt="">
        <img class="cards__bg-4" src="./images/main-bg/circle 2.svg" alt="">
        <img class="cards__bg-5" src="./images/main-bg/circle_tab.svg" alt="">
        <img class="cards__bg-6" src="./images/main-bg/Ellipse 7.svg" alt="">
      </div>
      <ul class="card-list">
        <!-- <li class="card__item" data-id="">
          <a href="" class="card__link">
            <div class="card__thumb">
              <img src="./images/Rectangle 6.png" alt="card">
            </div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">
              <svg class="event__icon">
                <use href="/src/images/symbol-defs.svg#locationVector">
                </use>
              </svg>Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item" data-id="">
          <a href="" class="card__link">
            <div class="card__thumb"><img src="./images/Rectangle 6.png" alt="card"></div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">
              <svg class="event__icon">
                <use href="/src/images/symbol-defs.svg#locationVector">
                </use>
              </svg>Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item" data-id="">
          <a href="" class="card__link">
            <div class="card__thumb"><img src="./images/Rectangle 6.png" alt="card"></div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">
              <svg class="event__icon">
                <use href="/src/images/symbol-defs.svg#locationVector">
                </use>
              </svg>Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item" data-id="">
          <a href="" class="card__link">
            <div class="card__thumb"><img src="./images/Rectangle 6.png" alt="card"></div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">
              <svg class="event__icon">
                <use href="/src/images/symbol-defs.svg#locationVector">
                </use>
              </svg>Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item" data-id="">
          <a href="" class="card__link">
            <div class="card__thumb"><img src="./images/Rectangle 6.png" alt="card"></div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">
              <svg class="event__icon">
                <use href="/src/images/symbol-defs.svg#locationVector">
                </use>
              </svg>Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item" data-id="">
          <a href="" class="card__link">
            <div class="card__thumb"><img src="./images/Rectangle 6.png" alt="card"></div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">
              <svg class="event__icon">
                <use href="/src/images/symbol-defs.svg#locationVector">
                </use>
              </svg>Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item" data-id="">
          <a href="" class="card__link">
            <div class="card__thumb"><img src="./images/Rectangle 6.png" alt="card"></div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">
              <svg class="event__icon">
                <use href="/src/images/symbol-defs.svg#locationVector">
                </use>
              </svg>Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item" data-id="">
          <a href="" class="card__link">
            <div class="card__thumb"><img src="./images/Rectangle 6.png" alt="card"></div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">
              <svg class="event__icon">
                <use href="/src/images/symbol-defs.svg#locationVector">
                </use>
              </svg>Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item" data-id="">
          <a href="" class="card__link">
            <div class="card__thumb"><img src="./images/Rectangle 6.png" alt="card"></div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">
              <svg class="event__icon">
                <use href="/src/images/symbol-defs.svg#locationVector">
                </use>
              </svg>Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item" data-id="">
          <a href="" class="card__link">
            <div class="card__thumb"><img src="./images/Rectangle 6.png" alt="card"></div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">
              <svg class="event__icon">
                <use href="/src/images/symbol-defs.svg#locationVector">
                </use>
              </svg>Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item" data-id="">
          <a href="" class="card__link">
            <div class="card__thumb"><img src="./images/Rectangle 6.png" alt="card"></div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">
              <svg class="event__icon">
                <use href="/src/images/symbol-defs.svg#locationVector">
                </use>
              </svg>Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item" data-id="">
          <a href="" class="card__link">
            <div class="card__thumb"><img src="./images/Rectangle 6.png" alt="card"></div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">
              <svg class="event__icon">
                <use href="/src/images/symbol-defs.svg#locationVector">
                </use>
              </svg>Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item" data-id="">
          <a href="" class="card__link">
            <div class="card__thumb"><img src="./images/Rectangle 6.png" alt="card"></div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">
              <svg class="event__icon">
                <use href="/src/images/symbol-defs.svg#locationVector">
                </use>
              </svg>Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item" data-id="">
          <a href="" class="card__link">
            <div class="card__thumb"><img src="./images/Rectangle 6.png" alt="card"></div>
          </a>
          <div class="event__info" data-id="">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">
              <svg class="event__icon">
                <use href="/src/images/symbol-defs.svg#locationVector">
                </use>
              </svg>Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item" data-id="">
          <a href="" class="card__link">
            <div class="card__thumb"><img src="./images/Rectangle 6.png" alt="card"></div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">
              <svg class="event__icon">
                <use href="/src/images/symbol-defs.svg#locationVector">
                </use>
              </svg>Palace of Ukraine</a>
          </div>
        </li>
        <li class="card__item" data-id="">
          <a href="" class="card__link">
            <div class="card__thumb"><img src="./images/Rectangle 6.png" alt="card"></div>
          </a>
          <div class="event__info">
            <h2 class="event__artist">Eurovision 2021 finals!</h2>
            <p class="event__data">2021-05-13</p>
            <a class="event__address" href="">
              <svg class="event__icon">
                <use href="/src/images/symbol-defs.svg#locationVector">
                </use>
              </svg>Palace of Ukraine</a>
          </div>
        </li> -->
      </ul>
    </div>
    <div class="pagination-box"></div>
  </section>

</main>