<section class="modal">
  <form class="modal__container">
    <div class="modal__header">
      <img
        class="modal__img"
        src="https://strana.today/img/article/2105/79_main.jpeg"
        alt="The Black Eyed Peas"
        height="132px"
      />
    </div>
    <div class="modal__mainPart">
      <div class="modal__big-img">
        <img
          class="modal__imgBig"
          src="https://strana.today/img/article/2105/79_main.jpeg"
          alt="The Black Eyed Peas"
          height="326px"
        />
      </div>
      <div class="modal__right-text">
        <h2 class="modal__title">INFO</h2>
        <p class="modal__text">
          Atlas Weekend is the largest music festival in Ukraine.More than 200
          artists will create a proper music festival atmosphere on 10 stages
        </p>
        <h2 class="modal__title">WHEN</h2>
        <p class="modal__text">2021-06-09 20:00 (Kyiv/Ukraine)</p>
        <h2 class="modal__title">WHERE</h2>
        <p class="modal__text">Kyiv, Ukraine VDNH</p>
      </div>
    </div>
  </form>
</section>
