<div class="modal visually-hidden" data-modal>
  <div class="modal__container">
    <button class="button-close" data-modal-close>
      <svg class="button-close__icon" width="25" height="25">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal__content">
      <!-- here -->

      <!-- here -->
    </div>
    <div class="modal__lastBtn">
      <button class="modal__btn-author" type="button">
        MORE FROM THIS AUTHOR
      </button>
    </div>
  </div>
</div>
