.gallery {
  overflow: hidden;
  margin-top: -56px;

  @include mb(tab) {
    margin-top: -90px;
  }
  @include mb(desk) {
    margin-top: -76px;
  }
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 32px 20px;
  margin-bottom: 60px;

  @include mb(tab) {
    gap: 40px 32px;
  }
}

.card__item {
  position: relative;
  flex-basis: calc(((100% - 20px)) / 2);
  max-height: 208px;

  @include mb(tab) {
    flex-basis: calc((100% - 96px) / 4);
    max-height: 223px;
  }

  @include mb(desk) {
    max-height: 320px;
  }
}

.card__link {
  display: block;
  max-width: 130px;
  min-height: 129px;
  margin-left: auto;
  margin-right: auto;

  @include mb(tab) {
    max-width: 152px;
    min-height: 130px;
  }

  @include mb(desk) {
    max-width: 288px;
    min-height: 239px;
  }

  &::before {
    content: '';
    display: block;

    width: 102px;
    height: 95px;
    margin-left: 28px;

    border: 1px solid rgba(220, 86, 197, 0.3);
    border-radius: 50px 0px;

    @include mb(tab) {
      width: 120px;
      height: 112px;
      margin-left: 32px;
    }

    @include mb(desk) {
      width: 227px;
      height: 213px;
      margin-left: 61px;
    }
  }
}

.card__thumb {
  position: absolute;
  overflow: hidden;
  top: 9px;
  object-fit: cover;

  max-width: 120px;
  max-height: 120px;

  border-radius: 50px 0px;

  transition: box-shadow $transition, transform $transition;

  @media screen and (min-width: 768px) {
    max-width: 141px;
    max-height: 120px;

    top: 10px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 267px;
    max-height: 220px;

    top: 19px;
  }

  &:hover,
  &:focus {
    transform: translate(10px, -10px);
    box-shadow: 0px 0px 35px rgba(235, 58, 205, 0.8);
  }
}

.card__info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;

  margin-top: 8px;
  text-align: center;

  @include mb(desk) {
    gap: 8px;
  }
}

.card__artist {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  color: $color-pink;

  transition: text-shadow $transition;

  @include mb(tab) {
    font-size: 16px;
    line-height: 1.25;
  }

  &:hover,
  &:focus {
    text-shadow: 0 0 15px rgb(198, 21, 92);
  }
}

.card__data {
  font-size: 14px;
  line-height: 1.21;

  @include mb(tab) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.card__address {
  display: block;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;

  text-align: center;

  @include mb(tab) {
    font-size: 14px;
    line-height: 1.21;
  }
}

.card__icon {
  margin-right: 3px;
  fill: currentColor;
  width: 6px;
  height: 9px;

  @include mb(tab) {
    width: 8px;
    height: 10px;
  }
}

.card__img {
  object-fit: cover;
  width: 100%;
}
