@import '../utils/vars';

.pagination-box {
  display: flex;
  justify-content: center;
}
.pagination-box__list {
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
}

.pagination__btn {
  background-color: transparent;
  color: $color-white;
}
.pagination__btn--currnt {
  color: $color-pink;
  border: 1px solid $color-pink;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 30px;
  height: 30px;
}
