.page-bg {
    width: 100%;
        height: 1948px;
        position: absolute;
}
.page-bg__header {
    margin-left: auto;
    margin-right: auto;
}

.page-bg__back-desk {
    position: absolute;
    width: 100%;
}
