.page-bg {
    background-image: url(../images/main-bg/noise-body.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top 364px center;

    @include mb(tab){
        background-image: url(../images/main-bg/bg_tab.svg);
    }

    @include mb(desk){
        background-image: url(../images/main-bg/bg_desk.svg);
        background-position: top;
}
}