.header {
  position: relative;
  max-width: 1280px;
  padding-top: 40px;

  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-color: rgba(11, 11, 11, 0.5);
  @include mb(mob-only) {
    padding-top: 80px;
  }

  &__title {
    max-width: 640px;
    width: 100%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;

    font-weight: 900;
    font-size: 50px;
    line-height: 1.22;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $color-pink;

    @include mb(tab-only) {
      max-width: 400px;
      font-size: 30px;
      margin-bottom: 40px;
    }

    @include mb(mob-only) {
      max-width: 280px;
      font-size: 18px;
      margin-bottom: 24px;
    }
  }
  // &__overlay {
  //   position: relative;
  //   max-width: 1280px;
  //   height: 364px;

  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-size: cover;

  //   z-index: -2;

  //   //  background: rgba(11, 11, 11, 0.5);
  //   //  border: 1px solid $color-default-black;
  //   //  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  //   background-image: linear-gradient(
  //       to right,
  //       rgba(11, 11, 11, 0.5),
  //       rgba(11, 11, 11, 0.5)
  //     ),
  //     url(../images/hero_bg@1x_desk.jpg);

  //   @include retina {
  //     background-image: linear-gradient(
  //         to right,
  //         rgba(11, 11, 11, 0.5),
  //         rgba(11, 11, 11, 0.5)
  //       ),
  //       url(../images/hero_bg@2x_desk.jpg);
  //   }

  //   @include mb(tab-only) {
  //     background-image: linear-gradient(
  //         to right,
  //         rgba(11, 11, 11, 0.5),
  //         rgba(11, 11, 11, 0.5)
  //       ),
  //       url(../images/hero_bg@1x_tab.jpg);

  //     @include retina {
  //       background-image: linear-gradient(
  //           to right,
  //           rgba(11, 11, 11, 0.5),
  //           rgba(11, 11, 11, 0.5)
  //         ),
  //         url(../images/hero_bg@2x_tab.jpg);
  //     }
  //   }

  //   @include mb(mob-only) {
  //     background-image: linear-gradient(
  //         to right,
  //         rgba(11, 11, 11, 0.5),
  //         rgba(11, 11, 11, 0.5)
  //       ),
  //       url(../images/hero_bg@2x_mob.jpg);

  //     @include retina {
  //       background-image: linear-gradient(
  //           to right,
  //           rgba(11, 11, 11, 0.5),
  //           rgba(11, 11, 11, 0.5)
  //         ),
  //         url(../images/hero_bg@2x_mob.jpg);
  //     }
  //   }

  //   @include mb(desk){
  //     height: 446px;
  //   }
  // }

  &__gradient {
    max-width: 1280px;
    height: 102px;

    background-image: linear-gradient(
      180deg,
      rgba(13, 13, 13, 0.19) 0%,
      rgba(14, 14, 14, 0.8) 100%
    );
  }
}

.search__form {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 94px;

  @include mb(mob-only) {
    gap: 24px;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.form__label {
  display: flex;
  max-width: 288px;
  width: 100%;

  @include mb(tab-only) {
    max-width: 336px;
    width: 100%;
  }

  @include mb(mob-only) {
    max-width: 280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.search__input {
  color: $color-default-white;
}

.form__input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 10px;
  max-width: 210px;
  width: 100%;
  height: 40px;

  font-size: 16px;
  line-height: 1.25;
  color: $color-default-white;

  backdrop-filter: blur(10px);

  background-color: rgba(255, 255, 255, 0.2);

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  outline: transparent;
  border: transparent;

  transition: box-shadow $transition;

  @include mb(tab-only) {
    max-width: 260px;
    width: 100%;
  }

  @include mb(mob-only) {
    max-width: 204px;
    width: 100%;
  }

  &:hover,
  &:focus {
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.8);
  }
}

.button__search {
  padding: 14px 32px;
  width: 76px;
  height: 40px;

  backdrop-filter: blur(10px);

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  background-color: rgba(255, 255, 255, 0.2);

  fill: $color-suva-grey;
  outline: transparent;
  border: transparent;

  transition: box-shadow $transition;

  &:hover,
  &:focus {
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.8);
    fill: $color-default-white;
  }
}

.search__icon {
  width: 15px;
  height: 15px;
}

.header__logo-bg-wrapper {
  --width: 214px;
  --height: 180px;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--width) / 2);
  height: calc(var(--height) / 2);
  overflow: hidden;

  @include mb('tab') {
    --width: 359px;
    --height: 302px;
  }

  @include mb('desk') {
    --width: 458px;
    --height: 386px;
  }
}

.header__logo-bg {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    136.07deg,
    rgba(196, 196, 196, 0.03) 10.75%,
    rgba(196, 196, 196, 0) 92.33%
  );
  backdrop-filter: blur(15px);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: var(--width);
  height: var(--height);
}

.header__logo {
  position: absolute;
  top: 20px;
  left: $padding-container-desk;
  @include mb('desk') {
    top: 41px;
  }
}
